/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

.upload-container {
    width: 1000px;
    height: 100px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    background-color: beige;
}

.file-label {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

#upload {
    display: none;
}

button {
    margin-top: 10px;
    width: 120px;
}

#upload-message {
    margin-top: 20px;
    font-weight: bold;
    color: #4caf50;
}

#progress-container {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

#progress-bar {
    width: 0;
    height: 20px;
    background-color: #4caf50;
}

#progress-text {
    margin-top: 5px;
}  */


body {
    font-family: 'Arial', sans-serif;
    margin: 10px;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-container {
    width: 100%;
    max-width: 800px;
    margin: 50px auto 20px;
    text-align: center;
    position: relative;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.file-label {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #e0e0e0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: #ccc;
}

#upload {
    display: none;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#upload-message {
    margin-top: 20px;
    font-weight: bold;
    color: #4caf50;
}

#progress-container {
    margin-top: 20px;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

#progress-bar {
    width: 0;
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
}

#progress-text {
    margin-top: 5px;
    color: #555;
}

